Para limpiar los datos

In [61]:
import pandas as pd
vf1 = pd.read_csv("/home/saphira/Desktop/datos/vf_Ene-nov.csv")
vf2 = pd.read_csv("/home/saphira/Desktop/datos/vf_dic.csv")

vf = pd.concat([vf1,vf2])

vf.index = range(vf.shape[0])

In [62]:
vf.columns

Index(['MES', 'MUNICIPIO HECHOS', 'COLONIA', 'DELITO', 'MODALIDAD',
       'FECHA HECHOS', 'VIOLENCIA', 'TIPO VIOLENCIA', 'CALLE', 'ENTRE CALLE',
       'NUMERO EXTERIOR', 'NUMERO INTERIOR', 'HORA HECHOS', 'CARPETA',
       'FECHA APERTURA', 'UNIDAD DE INVESTIGACION', 'ESPECIALIDAD', 'JEFATURA',
       'REGION', 'TIPO LUGAR', 'TIPO ARMA', 'VICTIMA', 'SEXO',
       'EDADES (VICTIMA)', 'PARENTESCO', 'ESTADO CIVIL', 'OCUPACION',
       'ESCOLARIDAD', 'DIRECCION (VICTIMA)', 'RELIGION',
       'ES LA PRIMERA AGRESION', 'DESDE CUANDO RECIBE AGRESIONES',
       'ALGUIEN MAS RECIBIO AGRESIONES', 'RECIBIO ATENCION PSICOLOGICA',
       'RECIBIO ATENCION MEDICA', 'AGRESOR', 'SEXO.1', 'EDADES (AGRESOR)',
       'ESTADO CIVIL.1', 'OCUPACION.1', 'ESCOLARIDAD.1', 'DIRECCION (AGRESOR)',
       'RELIGION.1', 'RECIBIO ATENCION PSICOLOGICA.1',
       'TIPO Y GRAVEDAD DE LA AGRESION', 'INGRESO MENSUAL (FAMILIAR)',
       'MOTIVO DE LA AGRESION'],
      dtype='object')

Borramos columnas que contienen datos privados.

In [63]:
vf = vf.drop(["CALLE", "ENTRE CALLE", "NUMERO EXTERIOR", "NUMERO INTERIOR"], axis = 1)

In [64]:
vf.columns

Index(['MES', 'MUNICIPIO HECHOS', 'COLONIA', 'DELITO', 'MODALIDAD',
       'FECHA HECHOS', 'VIOLENCIA', 'TIPO VIOLENCIA', 'HORA HECHOS', 'CARPETA',
       'FECHA APERTURA', 'UNIDAD DE INVESTIGACION', 'ESPECIALIDAD', 'JEFATURA',
       'REGION', 'TIPO LUGAR', 'TIPO ARMA', 'VICTIMA', 'SEXO',
       'EDADES (VICTIMA)', 'PARENTESCO', 'ESTADO CIVIL', 'OCUPACION',
       'ESCOLARIDAD', 'DIRECCION (VICTIMA)', 'RELIGION',
       'ES LA PRIMERA AGRESION', 'DESDE CUANDO RECIBE AGRESIONES',
       'ALGUIEN MAS RECIBIO AGRESIONES', 'RECIBIO ATENCION PSICOLOGICA',
       'RECIBIO ATENCION MEDICA', 'AGRESOR', 'SEXO.1', 'EDADES (AGRESOR)',
       'ESTADO CIVIL.1', 'OCUPACION.1', 'ESCOLARIDAD.1', 'DIRECCION (AGRESOR)',
       'RELIGION.1', 'RECIBIO ATENCION PSICOLOGICA.1',
       'TIPO Y GRAVEDAD DE LA AGRESION', 'INGRESO MENSUAL (FAMILIAR)',
       'MOTIVO DE LA AGRESION'],
      dtype='object')

In [65]:
vf = vf.drop(["DIRECCION (VICTIMA)", "DIRECCION (AGRESOR)"], axis = 1)

In [66]:
vf.columns

Index(['MES', 'MUNICIPIO HECHOS', 'COLONIA', 'DELITO', 'MODALIDAD',
       'FECHA HECHOS', 'VIOLENCIA', 'TIPO VIOLENCIA', 'HORA HECHOS', 'CARPETA',
       'FECHA APERTURA', 'UNIDAD DE INVESTIGACION', 'ESPECIALIDAD', 'JEFATURA',
       'REGION', 'TIPO LUGAR', 'TIPO ARMA', 'VICTIMA', 'SEXO',
       'EDADES (VICTIMA)', 'PARENTESCO', 'ESTADO CIVIL', 'OCUPACION',
       'ESCOLARIDAD', 'RELIGION', 'ES LA PRIMERA AGRESION',
       'DESDE CUANDO RECIBE AGRESIONES', 'ALGUIEN MAS RECIBIO AGRESIONES',
       'RECIBIO ATENCION PSICOLOGICA', 'RECIBIO ATENCION MEDICA', 'AGRESOR',
       'SEXO.1', 'EDADES (AGRESOR)', 'ESTADO CIVIL.1', 'OCUPACION.1',
       'ESCOLARIDAD.1', 'RELIGION.1', 'RECIBIO ATENCION PSICOLOGICA.1',
       'TIPO Y GRAVEDAD DE LA AGRESION', 'INGRESO MENSUAL (FAMILIAR)',
       'MOTIVO DE LA AGRESION'],
      dtype='object')

In [67]:
cols = ['mes', 'mpio', 'col', 'delito', 'mod', 'fecha', 'violencia', 'tipo', 'hora', 'carpeta', 'fecha_ap','u_inv', 'especialidad','jefatura','region','tipo_lugar', 'tipo_arma','victima', 'sexo_v','edad_v','parentesco','edo_civil','ocupacion','escolaridad','religion_v','1ra_agresion','desde_cuando','alguien_mas','atencion_psi','atencion_med','agresor', 'sexo_a','edad_a','edo_civil_a','ocupacion_a','escolaridad_a','religion_a','atencion_psi','tipo_grav','ingreso','motivo']
vf.columns = cols

In [68]:
vf.columns

Index(['mes', 'mpio', 'col', 'delito', 'mod', 'fecha', 'violencia', 'tipo',
       'hora', 'carpeta', 'fecha_ap', 'u_inv', 'especialidad', 'jefatura',
       'region', 'tipo_lugar', 'tipo_arma', 'victima', 'sexo_v', 'edad_v',
       'parentesco', 'edo_civil', 'ocupacion', 'escolaridad', 'religion_v',
       '1ra_agresion', 'desde_cuando', 'alguien_mas', 'atencion_psi',
       'atencion_med', 'agresor', 'sexo_a', 'edad_a', 'edo_civil_a',
       'ocupacion_a', 'escolaridad_a', 'religion_a', 'atencion_psi',
       'tipo_grav', 'ingreso', 'motivo'],
      dtype='object')

In [70]:
vf.religion_v.unique()
vf.religion_a.unique()

array(['No lo tiene el SPA'], dtype=object)

In [71]:
vf = vf.drop(["religion_v", "religion_a", "tipo_grav", "ingreso", "motivo"], axis = 1)
vf.columns

Index(['mes', 'mpio', 'col', 'delito', 'mod', 'fecha', 'violencia', 'tipo',
       'hora', 'carpeta', 'fecha_ap', 'u_inv', 'especialidad', 'jefatura',
       'region', 'tipo_lugar', 'tipo_arma', 'victima', 'sexo_v', 'edad_v',
       'parentesco', 'edo_civil', 'ocupacion', 'escolaridad', '1ra_agresion',
       'desde_cuando', 'alguien_mas', 'atencion_psi', 'atencion_med',
       'agresor', 'sexo_a', 'edad_a', 'edo_civil_a', 'ocupacion_a',
       'escolaridad_a', 'atencion_psi'],
      dtype='object')

In [72]:
vf.desde_cuando.unique()
vf.alguien_mas.unique()

array(['No lo tiene el SPA'], dtype=object)

In [73]:
vf = vf.drop(['desde_cuando','alguien_mas'], axis=1)

In [74]:
vf.columns

Index(['mes', 'mpio', 'col', 'delito', 'mod', 'fecha', 'violencia', 'tipo',
       'hora', 'carpeta', 'fecha_ap', 'u_inv', 'especialidad', 'jefatura',
       'region', 'tipo_lugar', 'tipo_arma', 'victima', 'sexo_v', 'edad_v',
       'parentesco', 'edo_civil', 'ocupacion', 'escolaridad', '1ra_agresion',
       'atencion_psi', 'atencion_med', 'agresor', 'sexo_a', 'edad_a',
       'edo_civil_a', 'ocupacion_a', 'escolaridad_a', 'atencion_psi'],
      dtype='object')

In [75]:
vf = vf.rename(columns = {'1ra_agresion':'primera_agresion'})
vf.columns

Index(['mes', 'mpio', 'col', 'delito', 'mod', 'fecha', 'violencia', 'tipo',
       'hora', 'carpeta', 'fecha_ap', 'u_inv', 'especialidad', 'jefatura',
       'region', 'tipo_lugar', 'tipo_arma', 'victima', 'sexo_v', 'edad_v',
       'parentesco', 'edo_civil', 'ocupacion', 'escolaridad',
       'primera_agresion', 'atencion_psi', 'atencion_med', 'agresor', 'sexo_a',
       'edad_a', 'edo_civil_a', 'ocupacion_a', 'escolaridad_a',
       'atencion_psi'],
      dtype='object')

In [76]:
vf.primera_agresion.unique()

array(['No lo tiene el SPA'], dtype=object)

In [77]:
del vf['primera_agresion']

In [78]:
vf.to_csv('vf_limpio.csv', header=True, index=False)

In [10]:
import pandas as pd
datos = pd.read_csv("/home/saphira/Desktop/datos/vf_p3.csv")

datos.edad_v = [int(v) if str(v).isdigit() else str(v).split(" ") for v in datos.edad_v]
datos.edad_v[29:35]

29             48
30             54
31    [7, 10, 34]
32             62
33             31
34             29
Name: edad_v, dtype: object

In [4]:
datos.edad_v = [int(v) if str(v).isdigit() else str(v).split(",") for v in datos.edad_v]

In [6]:
datos.edad_v[29:35]

29                       48
30                       54
31    [['7',  '10',  '34']]
32                       62
33                       31
34                       29
Name: edad_v, dtype: object

In [8]:
import pandas as pd
vf1 = pd.read_csv("poblacion2.csv", header = None)

In [9]:
vf1

     0                          1          2
0    1                  Abasolo        2 639
1    2               Agualeguas        2 439
2    4                   Allende      34 353
3    5                   Anáhuac      18 194
4    6                   Apodaca     597 207
5    7                 Aramberri      16 152
6    8               Bustamante        3 977
7    9         Cadereyta Jiménez      95 534
8   11                  Cerralvo       7 757
9   13                     China      10 835
10  12         Ciénega de Flores      42 715
11  14             Doctor Arroyo      34 110
12  15              Doctor Coss        1 632
13  16          Doctor González        2 861
14  10                 El Carmen      38 306
15  17                   Galeana      41 130
16  18                    García     247 370
17  20             General Bravo       5 479
18  21          General Escobedo     425 148
19  22             General Terán      14 795
20  23          General Treviño        1 044
21  24          General Zaragoza       6 011
22  25            General Zuazua      67 294
23  26                 Guadalupe     682 880
24  47                   Hidalgo      13 836
25  28                 Higueras        1 511
26  29               Hualahuises       6 921
27  30                 Iturbide        3 571
28  31                    Juárez     333 481
29  32       Lampazos de Naranjo       5 238
30  33                   Linares      79 853
31   3              Los Aldamas        1 292
32  27             Los Herreras        1 764
33  42               Los Ramones       4 469
34  34                     Marín       5 630
35  35           Melchor Ocampo          955
36  36            Mier y Noriega       6 996
37  37                      Mina       5 326
38  38              Montemorelos      60 829
39  39                 Monterrey   1 109 171
40  40                    Parás          971
41  41                 Pesquería      87 168
42  43                  Rayones        2 640
43  44           Sabinas Hidalgo      35 456
44  45          Salinas Victoria      54 192
45  46  San Nicolás de los Garza     430 143
46  19    San Pedro Garza García     123 156
47  48            Santa Catarina     296 954
48  49                  Santiago      42 407
49  50               Vallecillo        1 632
50  51                Villaldama       4 080

In [80]:
import pandas as pd
datos = pd.read_csv("/home/saphira/Desktop/datos/vf_p4.csv")

In [1]:
import pandas as pd
datos = pd.read_csv("/home/saphira/Desktop/datos/vf_p4.csv")

datos['mpio'] = datos.mpio.str.upper()

datos.hora = ["M" if (v >= 5 and v <= 12) else "T" if (v >= 13 and v <= 20) else "N" for v in datos.hora]
datos.hora.unique()

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

array(['N', 'M', 'T'], dtype=object)

In [ ]:
datos.to_csv('vf_p5.csv', header=True, index=False)

In [ ]:
escolar = datos.escolaridad_a

limpios = []
for dato in escolar:
    s = str(dato).replace(",", " ")
    pedazos = s.split() 
    #print(pedazos)
    #while "/" in pedazos:
        #pos = pedazos.index("/")
        #desde = int(pedazos[pos - 1])
        # hasta = int(pedazos[pos + 1])
        #prom = (desde + hasta) // 2
        #limpios.append(prom)
        #print(pedazos)
        #pedazos = pedazos[:(pos - 1)] + pedazos[(pos + 2):]
    limpios += pedazos
limpios = list(filter(lambda dato: dato != "NE", limpios))   
from collections import Counter
conteos = Counter([d for d in limpios])
for edad in conteos:
    print(edad, conteos[edad])
#len(limpios)

In [ ]:
escolar